<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Kriva pretraga!</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<img src="static/images/logo.png">
			</div>
			<ul>
				<li><a href="{{url_for('index')}}">Home</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>Ne možemo izvršiti pretragu!</h1>
			<h2>Pokušajte sa sličnom pretragom!</h2>
		</div>
	</header>
</body>
</html>